::-webkit-scrollbar{width:13px; position:absolute;}
::-webkit-scrollbar-thumb{background-color:#c8c8c8; border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background:#555;}
::-webkit-scrollbar-button { display: none; }
#body{
    font-family: 'Noto Sans KR', sans-serif;
}
#center_table{
    width:96%;
    margin-left:2%;
    margin-top:2%;
    height:100px;
    border:1px #CCCCCC solid;
}
#center_table .center_table_tr{
    height:60px;
    width:100%;
}

.center_table_first_td{
    width:20%;
    text-align: center;
    border-right:1px #CCCCCC solid;
    background-color:#CCCCCC;
}
.center_table_td{
    width:20%;
    text-align: center;
    border-top:1px white solid;
    border-right:1px #CCCCCC solid;
    background-color:#CCCCCC;
}
.center_table_first_write_content{
    padding-left:10px;
    width:70%;
}
.center_table_write_content{
    padding-left:10px;
    border-top:1px
    #CCCCCC solid;
}
#center_table_check_place{
    border-top:1px #CCCCCC solid;
}
.product_upload_top_product_name{
    width:70%;
    height:40px;
}
.product_upload_top_product_guid, .proudct_upload_top_product_category1, .proudct_upload_top_product_category2{
    width:80%;
    height:40px;
}
.product_upload_top_product_price{
    width:30%;
    height:40px;
}
.product_upload_top_product_stock{
    width:15%;
    height:40px;
}
.offer_size_div{
    margin-top:20px;
    width:100%;
    float:left;
}
.product_upload_top_addsize{
    float:left;
    width:82%;
    height:40px;
    padding-left:5px;
}
.product_upload_top_size_table{
    margin-top:10px;
    width:95%;
    text-align:center;
    float:left;
}
.offer_size_bottom{
    float:left;
    width:100%;
    height:50px;
}
#product_upload_top_right{
    float:left;
    width:100%;
}
#porudct_upload_to_server label {
    border:1px #585858 solid;
    cursor:pointer;
    width:180px;
    height:60px;
    float:left;
    margin-top:10px;
    text-align: center;
    line-height:60px;
    border-radius:10px;
    color:white;
    background-color:#6E6E6E;
}
#porudct_upload_to_server label:hover {
    background-color:#585858;
}
#porudct_upload_to_server label:active {
    background-color: #BDBDBD;
}
#porudct_upload_to_server input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.upload_fitme_box_image_name{
    width:100%;
    float:left;
    height:20px;
    text-align: left;
    font-size:18px;
}
.product_upload_top_line{
    width:180px;
    margin-top:50px;
    float:left;
    display:none;
}
#product_upload_top_image_box{
    text-align:center;
    margin-top:15px;
    margin-right:15%;
    float:right;
    width:50%;
    margin-bottom:15px;
}
.product_list_image, .product_detail_image{
    border:3px grey dashed;
    float:left;
    width:150px;
    height:150px;
    margin:15px;
    vertical-align: middle;
    cursor:pointer;
    background-image: url('../web/icon/image_icon.png');
    background-size:100% 100%;
}
.product_list_image:hover, .product_detail_image:hover{
    border:5px grey dashed;
}
.product_list_image_choose{
    border:2px solid;
    border-radius: 4px;
    width:150px;
    height:150px;
    margin:15px;
    float:left;
    display:none;
}
.product_detail_image_input_box{
    margin:15px 0 15px 15px;
    display:none;
    border:1px grey solid;
    width:100%;
    float:left;
    height:260px;
    overflow-x:auto;
    white-space:nowrap;
}
.color_add{
    border:1px #585858 solid;
    cursor:pointer;
    width:150px;
    height:50px;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    line-height:50px;
    border-radius:10px;
    color:white;
    background-color:#6E6E6E;
}
.color_add:hover{
    background-color:#585858;
}
#myModal{
    top:30%;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
}
.modal-content{
    width:360px;
    margin-left:30px;
}
.colors_button{
    width:200px;
    margin-left:15px;
    margin-top:10px;
    margin-bottom:10px;
}
.choose_color_label{
    width:170px;
    height:60px;
    border-radius:10px;
    text-align:center;
    line-height:60px;
    cursor:pointer;
    border:1px #585858 solid;
    background-color:#6E6E6E;
    color:white;
    font-size:17px;
}
.choose_color_label:hover{
    background-color:#585858;
}
.choose_color_box{
    width:100%;
    margin-bottom:20px;
    max-height:300px;
    overflow-y: auto;
}
.add_color_line{
    width:100%;
    height:1px;
    background-color: lightgrey;
}
.add_color_button{
    border:1px #585858 solid;
    background-color:#6E6E6E;
    color:white;
    margin-left:105px;
    margin-top:20px;
    width:130px;
    height:40px;
    text-align:center;
    cursor:pointer;
    line-height:40px;
}
.add_color_button:hover{
    background-color:#585858;
}
.color_box{
    border:1px lightgrey solid;
    width:100%;
    float:left;
    margin-top:10px;
    padding:0 20px 20px 20px;
    display:none;
    margin-bottom:10px;
}
